KAFKA_BOOTSTRAP_SERVERS=
KAFKA_TOPIC=
EVENTS_PER_SECOND=10
NUM_TOWERS=100
ANOMALY_PROBABILITY=0.3
ANOMALY_DURATION_SECONDS=30
HIGH_LATENCY_MIN=100
HIGH_LATENCY_MAX=800
HIGH_PACKET_LOSS_MIN=5
HIGH_PACKET_LOSS_MAX=25
LOW_SIGNAL_MIN=-100
LOW_SIGNAL_MAX=-90
LOW_BANDWIDTH_MIN=10
LOW_BANDWIDTH_MAX=80